body{
    background-color:#E8EBEC;
 margin: 0px;
 font-family: Arial, Helvetica, sans-serif;
}

#logo_1{
    
    text-align: left;
    background-color:#222F3E;
    padding-left: 40px;
    
    
}

#Bar{
    background-color: #354758;
    border: 2px;
    padding: 5px;
    margin:0;
    font-size: 20px;
}

#Bar_2{
    text-align: center;
    background-color:#F56600;
    padding-top: 0.25px;
    padding-bottom: 0.25px;
    color: aliceblue;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 10px;
  
}

.column{
        display:inline-block;
        padding: 60px;
        padding-top: 20px;

         
}

.shop{
    border-radius: 5%;
}

.menu{
    display:inline-block;
    padding-left: 10px;
    padding-right: 10px;
    color: aliceblue;
    margin: 10px;
  
}

h3{
    margin: 0px;
}

h4{
    margin: 0px;
}
.banner_1{
    background-image: url("bg-image.png");
    text-align: center;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: whitesmoke;
    font-size: 20px;
    margin-bottom: 20px;
    margin: 10px;
  
}

#gift{
    background-color: #FDFDFD;
    margin-bottom: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 10px;
    text-indent: 20px;

}

.game_img{
    margin: 10px;
    text-align: center;
    margin-bottom: 20px;
  
}

.speaker_img{
    margin: 10px;
    text-align: center;
    margin-bottom: 20px;
}

#banner_2{
    background-color: #354758;
    text-align: center;
    padding: 5px;
    margin:0;
    color: #E8EBEC;


}

#logo_2{
    background-color: #222F3E;
    margin: 0px;
    padding-left: 925px;
    padding-top: 50px;
    padding-bottom: 50px;

 

}

.bolded{
    color:rgb(23, 181, 181);

}